body {
    background-color: #90C7E3;
    color: #666666;
    background-image: url(images/background.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    font-family: "Avant Garde", Futura, Geneva, sans-serif;
}
header {
    background-color: #000033;
    color: #FFFFFF;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    background-image: url(images/snes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
}
nav {
    background-color: #90C7E3;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
h2 {
    color: #000000;
    font-family: monospace;
    text-shadow: 2px 3px 1px #CCCCCC;
}
dt {
    color: #000033;
}
.redtext {
    color: #FF0000;
}
h1 {
    margin-bottom: 0;
}
#games {
    color: #551a8b
}
main {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 300px 300px;
}
footer {
    font-size: 70%;
    font-style: italic;
    text-align: center;
    color: #000000;
}
p {
    background-color: darkgray;
    color: #FFFFFF;
}

li {
    list-style-type: disc;
    font-weight: bold;
    font-size: 120%;
}
#rounded {
    background-color: darkgreen;
    font-size: 220%;
    margin-left: 700px;
    margin-right: 700px;
    padding: 1px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
}
#linkcolors {
    color: chocolate;
    font-weight: bold;
}
.polaroid img {
    border: 10px solid #FFFFFF;
    border-bottom: 60px solid #FFFFFF;
    box-shadow: 3px 3px 3px #777;
}
.polaroid h3 {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 Arial, cursive;
    color: #000000;
}
.polaroid {
    position: relative;
    width: 220px;
}